*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading .nav li a #header2{
    background: #3398D4;
}
#container{
    margin-top: 56px;
}

.chon-chu-de{
    display: flex;
    padding: 2rem 18rem;
}

.chon-chu-de .mo-dau{
    font-family: 'Lora', Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 20px;
    padding-bottom: 14px;
}

.chon-chu-de .noi-dung{
    font-family: 'Be Vietnam Pro';
    padding-left: 20px;
    font-size: 16px;
}
.chon-chu-de > .chu-de, .btn-chu-de{
    flex: 1;
}

.chon-chu-de .btn-chu-de {
    margin-top: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    padding: 0 15px;
    color: #fff;
    font-family: 'Be Vietnam Pro';
}

.chon-chu-de .btn-chu-de > div{
    text-align: center;
    width: 180px;
    float: right;
    border-radius: 10px;
    background-color: #000;
}

.chon-chu-de .btn-chu-de:hover{
    cursor: pointer;
}

.list-chu-de{
    display: flex;
    margin-left: 208px;
    margin-right: 208px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
}

.list-chu-de .chu-de{
    margin-bottom: 32px;
    margin-right: 10px;
    margin-left: 10px;
}

.list-chu-de .chu-de .picture:hover{
    cursor: pointer;
    border: 4px solid #3398D4;
}

.list-chu-de .picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 110px;
    border: 0.5px solid #C4C4C4;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 13px;
    object-fit: none;
}

.pc1{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/img/content-image/the-thao.jfif);
}

.pc2{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/img/content-image/phim.jfif);
}

.pc3{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/img/content-image/doi-song.jfif);
}

.pc4{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/img/content-image/esport.jfif);
}

.pc5{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/img/content-image/chuyen-tro.jfif);
}

.pc6{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/img/content-image/khoa-hoc.jfif);
}
.list-chu-de .the-loai{
    font-family: 'Be Vietnam Pro';
    color: #fff;
}

.list-chu-de .follow{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Be Vietnam Pro';
}
.list-chu-de .follow:hover, .followed:hover{
    cursor: pointer;
}
.list-chu-de .followed{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    margin: 0px 30px;
    color: #fff;
    background: #3398D4;
    border: 1px solid #3398D4;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Be Vietnam Pro';
}
