
.list-tac-gia{
    display: block;
    width: 50%;
    margin: 1rem 25rem ;
}
.list-tac-gia .tac-gia{
    width: 100%;
    display: flex;
    padding: 25px 0;
}

.list-tac-gia .tac-gia-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../img/avatar.jpg);
    background-position: center center;
}

.list-tac-gia .infor-tac-gia{
    margin-left: 10px;
}

.list-tac-gia .chi-tiet{
    color: rgba(117, 117, 117, 1);
    margin-top: 5px;
}

.list-tac-gia .theo-doi{
    
    float: right;
    margin-left: auto;
    margin-right: 0;
    background: white;
    text-align: center;
}

.ten-tac-gia:hover{
    cursor: pointer;
    color: #3398D4;
}