
*{
    font-family: 'Roboto';
}

#container{
    margin-top: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tieu-de{
    display: flex;
    flex-direction: row;
    margin-bottom: 37px;
    margin-top: 42px;
    justify-content: center;
    align-items: center;
    font-family: 'Lora';
    font-size: 30px;
}

.tieu-de .text-noi-bat{
    font-size: 64px;
    line-height: 75px;
}

.tieu-de .noi-bat-icon{
    object-fit: none;
    margin-right: 10px;
}
.lua-chon{
    display: flex;
    flex-direction: row;
}

.lua-chon > .btn{
    margin: 0 0.3rem;
}

.lua-chon > div:hover{
    cursor: pointer;
}
#content{
    width: 100%;
    display: flex;
}

.separate-line{
    width: 80%;
    height: 1rem;
    border-bottom: 0.2px solid #E3E3E3;
    text-align: center;
}

#bai-viet{
    background: black;
    color: white;
}