*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora';
}

.body-content{
    padding: 5rem 15rem
}
.title > textarea{
font-size: 2rem;
padding-bottom: 1rem;
width: 100%;
resize: none;
border:0;
}
.title > textarea:focus{
    outline: none;
    }
    .body-content > .add-content > span > i{
        text-align: top;
        font-size: 1rem;
        color: #807E7E;
    }
    .body-content > .add-content > span > i:hover{
        color: #3398D4;
    }
.add-content{
    display: inline;
    height: auto;
}

.body-content > .add-content > textarea{
    width: 90%;
    border:0;
    resize: none;
    font-family: 'Roboto';
}
.add-content > span{
    vertical-align: top;
}
.body-content > .add-content > textarea:focus{
    width: 90%;
    outline: none;
    border:0;
}
.body-content > .add-content > div>span>i{
    padding-left: 1rem;
    font-size: 1rem;
    color: #807E7E;
}
.body-content > .add-content > div>span>i:hover{
    color: #3398D4;
}
.body-content > .add-content > div>span>i:hover{
    color: #3398D4;
}
.body-content > .add-content > div>span>i > .tooltiptext{
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}
.body-content > .add-content > .icons-function{
    display: none;
}
