*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* begin heading */
#heading{
    width: auto;
    height: 56px;
    background-color: #fff;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0px;
    border-bottom: 1px solid rgba(51, 152, 212, 0.2);
    z-index: 1;
}

#heading .writady-img{
    position: relative;
    display: inline-block;
    margin-left: 60px;
}

#heading #writady{
    display: inline-block;
    line-height: 56px;
    padding: 0px 100px 0 0px;
    font-size: 24px;
}

#heading .nav li{
    display: inline-block;
}

#heading .nav li a{
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    font-family: 'Roboto', Helvetica, sans-serif ;
    line-height: 56px;
    font-size: 16px;
    padding: 6px 20px;
    margin-left: 18px;
    color: #000;
}

#icon-btns .icon-btn li{
    display: inline-block;
}

#heading .icon-btn li i{
    position: relative;
}

#heading #icon-btns{
    margin-left: auto;
    margin-right: 0;
}

#heading .search-icon{
    font-size: 22px;
    float: right;
    margin-left: 10px;
    padding: 8px 16px;
    line-height: 40px;
}

#icon-btns .notify-icon{
    font-size: 22px;
    float: right;
    margin: 0;
    padding: 8px 16px;
    line-height: 40px;
}

#icon-btns .avatar-icon{
    float: right;
    width: 40px;
    height: 40px;
    bottom: 8px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #000;
    background-position: center center;
}

#heading #write-text{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin: 8px 60px 8px 10px;
    padding: 0 16px;
    border-radius: 20px;
    background-color: rgba(51, 152, 212, 1);

}


/* begin hover */
#heading .nav li a:hover{
    cursor: pointer;
    color: rgba(204, 204, 204, 0.9);
}

#heading .search-icon:hover{
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.5);
}

#heading .notify-icon:hover{
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.5);
}

#icon-btns .avatar-icon{
    cursor: pointer;
}

#heading #write-text:hover{
    cursor: pointer;
    background-color: rgba(131, 203, 243, 1);
}
/* end hover */
/* end heading */

#container{
    margin-top: 56px;
}

.chon-chu-de{
    display: flex;
    padding-top: 32px;
    padding-left: 208px;
    margin-bottom: 60px;
}

.chon-chu-de .mo-dau{
    font-family: 'Lora', Helvetica, sans-serif;
    font-size: 25px;
    padding-bottom: 14px;
}

.chon-chu-de .noi-dung{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
}

.chon-chu-de .btn-chu-de{
    float: right;
    margin-left: auto;
    margin-right: 208px;
    margin-top: 20px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    padding: 0 15px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.chon-chu-de .btn-chu-de:hover{
    cursor: pointer;
}

.list-chu-de{
    display: flex;
    margin-left: 208px;
    margin-right: 208px;
}

.list-chu-de .picture{
    width: 200px;
    height: 110px;
    border: 0.5px solid #C4C4C4;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 13px;
    object-fit: none;
}

.list-chu-de .the-loai{
    position: absolute;
}