
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

:root{
    --primary:#333;
    --secondary: #666;
}
.btn{
    text-align: center;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    background: #fff;
    columns: #fff;
    border: .1rem solid var(--primary);
    cursor: pointer;
    color: var(--primary);
    border-radius: 1.5rem;
    font-size: 1rem;
}
.btn:hover{
    color: white;
    background: black;
}
/* begin heading */
#heading{
    width: auto;
    height: 56px;
    background-color: #fff;
    /* display: none; */
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0px;
    border-bottom: 1px solid rgba(51, 152, 212, 0.2);
    z-index: 1;
}

#heading .writady-img{
    position: relative;
    display: inline-block;
    margin-left: 60px;
}

#heading > a > #writady{
    color: black;
    display: inline-block;
    line-height: 56px;
    padding: 0px 100px 0 0px;
    font-size: 24px;
    font-family: 'Comfortaa'
}

#heading .nav li{
    display: inline-block;
}

#heading .nav li a{
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    font-family: 'Comfortaa', Helvetica, sans-serif ;
    line-height: 51px;
    font-size: 16px;
    padding: 4rem 2rem;
    margin-top: 1rem;
    color: #000;
}
#heading .nav li a div{
    height: 5px;
    margin-left: 1.75rem;
    width: 80%;
    top: 3.1rem;
    background: none;
}

#icon-btns .icon-btn li{
    display: inline-block;
}

#heading .icon-btn li i{
    position: relative;
}

#heading #icon-btns{
    margin-left: auto;
    margin-right: 0;
}

#heading .search-icon{
    font-size: 22px;
    float: right;
    margin-left: 10px;
    padding: 8px 16px;
    line-height: 40px;
}

#icon-btns .notify-icon{
    font-size: 22px;
    float: right;
    margin: 0;
    padding: 8px 16px;
    line-height: 40px;
}

#icon-btns .avatar-icon{
    float: right;
    width: 40px;
    height: 40px;
    bottom: 8px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #000;
    background-position: center center;
}

.ping-number{
    background: #3398D4;
    width: 23px;
    height: 23px;
    border-radius: 23px;
    margin-left: 1.5rem;
    top: 5px;
    vertical-align: middle;
    color: white;
    text-align: center;
    position: absolute;
}

#heading #write-text{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin: 8px 60px 8px 10px;
    padding: 0 16px;
    border-radius: 20px;
    background-color: rgba(51, 152, 212, 1);
}

.notify-box{
    display: none;
    width: 25rem;
    position: absolute;
    background: white;
    top: 4rem;
    right: 35px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#AllNotify{
    color: white;
    background: black;
}

.notify-box h2{
    font-size: 2rem;
    padding: 10px;
    font-weight: 400;
    border-bottom: 1px solid #eee;
    color: black;
}
.notify-box h2 span{
    color: #f00;
}
.notifi-item{
    display: flex;
    padding: 15px 5px;
    cursor: pointer;
}
.notifi-item:hover{
    background: #e2f0ff;
}

.notifi-item img{
    display: block;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
}
.notifi-item .text h4{
    color: #777;
    font-weight: 400;
    font-size: 16px;
}
.notifi-item .text p{
    margin-top: 10px;
    color: #3398D4;
}
.not-read{
    margin-top: 2rem;
    width: 20px;
    height: 10px;
    border-radius: 20px;
    background: #3398D4;
    margin-left: 10px;
}
.read{
    width: 20px;
    margin-left: 10px;
}
.text span{
    display: inline;
}


/* begin hover */
#heading .nav li a:hover div{
    cursor: pointer;
    background: rgba(131, 203, 243, 0.3);
}

#heading .search-icon:hover{
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.5);
}

.search-bar-container{
    width: 100%;
    height: 56px;
    display: none;
    text-align: center;
    border-bottom: 1px solid rgba(51, 152, 212, 0.2);
    position: fixed;
    background: white;
    left: 0;
    top: 0;
    z-index: 1;
}
.search-bar-container i{
    padding-right: 1rem;
    font-size: 25px;
}
.search-bar-container i:hover{
    color: #3398D4;
}
#search-bar{
    width: 50%;
    font-size: 25px;
    margin-top: 0.75rem;
    border-radius: 0.3rem;
    background: #F6F8FC;
    border: 1px solid white;
}
#search-bar:focus{
    outline: none;
}

#heading .notify-icon:hover{
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.5);
}

#icon-btns .avatar-icon{
    cursor: pointer;
}

#heading #write-text:hover{
    cursor: pointer;
    background-color: rgba(131, 203, 243, 1);
}
/* end hover */
/* end heading */

/*start footer*/
.footer{
    background: #333;
    display: table-row;
    height: 0;
}
.footer-start{
    margin:0rem 4rem;
    padding: 4rem 2rem;
    display: flex;
    border-bottom: 1px solid #4D4D4D;
}
.footer-start div{
    flex:1;
    text-align: center;
    vertical-align: middle;
}
.footer-start .link-icon{
    margin-top: 1.2rem;
}
.footer-start div span i{
    color: #A5A5A5;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.footer-start div span i:hover{
    color: #83CBF3;
    cursor: pointer;
}
.footer-start .logo .logo-info{
    display: inline-block;
    vertical-align: middle;
}
.footer-start .logo .logo-info img{
    width: 70px;
    height: 92px;
}
.footer-start .logo .logo-info h1{
    font-family: "Lora";
    font-size: 35px;
    color: white;
    font-weight: 400;
}
.footer-start .logo .logo-info div{
    font-family: "Lora";
    font-size: 10px;
    color: white;
    font-weight: 400;
    padding-bottom: 30px;
}
.footer-start .company{
    margin-top: 1.7rem;
}
.footer-start .company .company-info{
    font-weight: 400;
    color: #A5A5A5;
    padding: 0.5rem;
}
.footer-start .company .company-info:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer-middle{
    margin:0 4rem;
    padding: 3rem 12rem;
    display: flex;
    border-bottom: 1px solid #4D4D4D;
}
.footer-middle .footer-stuff{
    flex:1;
    text-align: center;
    vertical-align: middle;
}
.footer-middle .footer-stuff > div > i{
    font-size: 3rem;
    color: #C4C4C4;
}
.footer-middle .footer-stuff .title-middle{
    padding: 1rem 0;
    font-size: 1rem;
    color: white;
}
.footer-middle .footer-stuff .detail-middle{
    color: #C4C4C4;
}
.footer-end{
    text-align: center;
    color: white;
    padding: 1rem
}
.footer-end > span{
    color: #3398D4;
}
.footer-end > span:hover{
    cursor: pointer;
    text-decoration: underline;
}

#content{
    position: relative;
}
/*end footer*/