*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora';
    font-size: 1.3rem;
}
i:hover{

    color: #3398D4;
}
/* begin heading */
#heading{
    width: auto;
    height: 56px;
    background-color: #fff;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0px;
    border-bottom: 1px solid rgba(51, 152, 212, 0.2);
    z-index: 1;
}

#heading .writady-img{
    position: relative;
    display: inline-block;
    margin-left: 60px;
}

#heading #writady{
    display: inline-block;
    line-height: 56px;
    padding: 0px 100px 0 0px;
    font-size: 24px;
}

#heading .nav li{
    display: inline-block;
}

#heading .nav li a{
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    font-family: 'Roboto', Helvetica, sans-serif ;
    line-height: 56px;
    font-size: 16px;
    padding: 6px 20px;
    margin-left: 18px;
    color: #000;
}

#icon-btns .icon-btn li{
    display: inline-block;
}

#heading .icon-btn li i{
    position: relative;
}

#heading #icon-btns{
    margin-left: auto;
    margin-right: 0;
}

#heading .search-icon{
    font-size: 22px;
    float: right;
    margin-left: 10px;
    padding: 8px 16px;
    line-height: 40px;
}

#icon-btns .notify-icon{
    font-size: 22px;
    float: right;
    margin: 0;
    padding: 8px 16px;
    line-height: 40px;
}

#icon-btns .avatar-icon{
    float: right;
    width: 40px;
    height: 40px;
    bottom: 8px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #000;
    background-position: center center;
}

#heading #write-text{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin: 8px 60px 8px 10px;
    padding: 0 16px;
    border-radius: 20px;
    background-color: rgba(51, 152, 212, 1);
}

.body-content{
    padding: 5rem 15rem
}
.title > textarea{
font-size: 2rem;
padding-bottom: 1rem;
width: 100%;
resize: none;
border:0;
}
.title > textarea:focus{
    outline: none;
    }
    .body-content > .add-content > span > i{
        text-align: top;
        font-size: 1rem;
        color: #807E7E;
    }
    .body-content > .add-content > span > i:hover{
        color: #3398D4;
    }
.add-content{
    display: inline;
    height: auto;
}

.body-content > .add-content > textarea{
    width: 90%;
    border:0;
    resize: none;
    font-family: 'Roboto';
}
.add-content > span{
    vertical-align: top;
}
.body-content > .add-content > textarea:focus{
    width: 90%;
    outline: none;
    border:0;
}
.body-content > .add-content > div>span>i{
    padding-left: 1rem;
    font-size: 1rem;
    color: #807E7E;
}
.body-content > .add-content > div>span>i:hover{
    color: #3398D4;
}
.body-content > .add-content > div>span>i:hover{
    color: #3398D4;
}
.body-content > .add-content > div>span>i > .tooltiptext{
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}
.body-content > .add-content > .icons-function{
    display: none;
}
